/* CSS Code */
.minicpromo{
	position: fixed;
	z-index: 19;
}
#activator{
	position: absolute;
	background: #ccc;
}
#activator h2{
	text-align: center;
}
.position-top{
	top: 0;
	left: 50%;
	border-top-left-radius:0!important;
	border-top-right-radius:0!important;
	
}
.position-right{
	right: 0;
	top: 50%;
	border-top-right-radius:0!important;
	border-bottom-right-radius:0!important;
}
.position-bottom{
	bottom: 0;
	left: 50%;
	border-bottom-left-radius:0!important;
	border-bottom-right-radius:0!important;
}
.position-left{
	left: 0;
	top: 50%;
	border-top-left-radius:0!important;
	border-bottom-left-radius:0!important;
}